---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

{% comment %}
*
* Main site content 
*
{% endcomment %}
<article itemscope itemtype="http://schema.org/Article">
<div class="row b60">
	<div class="medium-12 columns">
		{{ content }}
	</div>
</div><!-- /.row -->
</article>

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}


{% unless site.posts == empty %}
   <div class="row">
       <div class="medium-6 columns">
       <h1>Latest news</h1>

        {% for post in site.posts limit:1 %}
        <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p>
           {% if post.meta_description %}
           {{ post.meta_description | strip_html | escape }}
           {% else post.teaser %}
           {{ post.teaser | strip_html | escape }}
           {% endif %}
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
        </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->

        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
   </div><!-- /.row -->
{% endunless %}

{% comment %}
*
* Logos bit of ugly code
*
{% endcomment %}

<div class="row">
  <div class="medium-12 columns">

<h2 style="text-align:center">supported by</h2>
<br>
<br>
    <div class="medium-2 columns">
	<img src="{{site.url}}/images/ugent_logo.png" width="150">
	</div>

    <div class="medium-2 columns">
	<img src="{{site.url}}/images/rmca_logo.png" width="150">
	</div>

    <div class="medium-2 columns">
	<img src="{{site.url}}/images/bgm_logo.gif" width="150">
	</div>

	<div class="medium-2 columns">
	<img src="{{site.url}}/images/state_archive_logo.jpg" width="150">
	</div>

	<div class="medium-2 columns">
	<img src="{{site.url}}/images/nsf_logo.png" width="150">
	</div>

	<div class="medium-2 columns">
	<img src="{{site.url}}/images/belspo_logo.png" width="150">
	</div>
	</div> <!-- col -->
</div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}
